params {
    // Directory for FASTQ files. The default is just "fastq" in the project directory.
    fastqDir = "fastq"

    // Directories for aligned files.
    bamDir = "bam"

    // Software paths.
    java = "/usr/lib/jvm/jre-11/bin/java"
    bwa = "${projectDir}/bin/bwa"
    picard = "${projectDir}/picard.jar"
    
    // Reference genome.
    
    referenceRoot = '/mnt/scratchb/bioinformatics/reference_data/reference_genomes'
    referenceFasta = "${referenceRoot}/homo_sapiens/GRCh38/fasta/hsa.GRCh38.fa"
    bwaIndex = "${referenceRoot}/homo_sapiens/GRCh38/bwa-0.7.17/hsa.GRCh38"
}

profiles {
    standard {
        process.executor = 'local'
        executor.$local.cpus = 6
        executor.$local.memory = 20.GB
    }

    cluster {
        process.executor = 'slurm'
    }

    bioinf {
        process.executor = 'local'
        executor.$local.cpus = 28
        executor.$local.memory = 180.GB
    }
}

executor {
    $slurm {
        queueSize = 150
        pollInterval = '30sec'
        queue = 'general'
        clusterOptions = "--nodes=1 --open-mode=truncate"
    }
}

process {
    cpus = 1
    memory = 1.GB
}

